<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0VDqZo8fQvDUYlh5hFkGdkBI9yO61rjY</string>
	<key>GCM_SENDER_ID</key>
	<string>989556781175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shareYourExperience</string>
	<key>PROJECT_ID</key>
	<string>nura-74502</string>
	<key>STORAGE_BUCKET</key>
	<string>nura-74502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989556781175:ios:0f9ab21c5adf41c2e41672</string>
</dict>
</plist>